{% set dockerHost = 'kafka'~item.myid %}
{% set externalDomain = dockerHost+'.ojejek.com' %}
{% set zoos = [] %}
{%- for d in listDroplets -%}
  {%- if 'zoo' in d.name -%}
    {% set dummy = zoos.append(d.ip+':2181') %}
  {%- endif -%}
{%- endfor -%}
version: '3.6'

services:

  {{dockerHost}}:
    image: confluentinc/cp-kafka:5.3.0
    container_name: {{ dockerHost }}
    hostname: {{ dockerHost }}
    ports:
      - "9092:9092"
    environment:
      KAFKA_LISTENERS: EXTERNAL://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: EXTERNAL://{{ externalDomain }}:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: EXTERNAL
      KAFKA_ZOOKEEPER_CONNECT: "{{ zoos | join(',') }}"
      KAFKA_BROKER_ID: {{ item.myid }}
      KAFKA_LOG4J_LOGGERS: "kafka.controller=INFO,kafka.producer.async.DefaultEventHandler=INFO,state.change.logger=INFO"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - /mnt/kafkadata:/var/lib/kafka/data
