{% set dockerHost = 'kafka'~item.myid %}
{% set externalDomain = dockerHost+'.ojejek.com' %}
{% set zoos = [] %}
{% set kafkas = [] %}
{%- for d in listDroplets -%}
  {%- if 'zoo' in d.name -%}
    {% set dummyZoos = zoos.append(d.ip+':2181') %}
  {%- endif -%}
{%- endfor -%}
version: '3.6'

services:

  {{dockerHost}}:
    restart: unless-stopped  
    image: confluentinc/cp-kafka:5.3.1
    hostname: {{ externalDomain }}
    ports:
      - "9092:9092"
      - "19092:19092"
    environment:
      KAFKA_ADVERTISED_LISTENERS: LISTENER_DOCKER_INTERNAL://{{ dockerHost }}:19092,LISTENER_DOCKER_EXTERNAL://{{ externalDomain }}:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: LISTENER_DOCKER_INTERNAL:PLAINTEXT,LISTENER_DOCKER_EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: LISTENER_DOCKER_INTERNAL
      KAFKA_ZOOKEEPER_CONNECT: "{{ zoos | join(',') }}"
      KAFKA_BROKER_ID: {{ item.myid }}
      KAFKA_LOG4J_LOGGERS: "kafka.controller=INFO,kafka.producer.async.DefaultEventHandler=INFO,state.change.logger=INFO"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - /mnt/kafkadata:/var/lib/kafka/data

  kafka-schema-registry:
    restart: unless-stopped
    image: confluentinc/cp-schema-registry:5.3.1
    hostname: kafka-schema-registry
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: PLAINTEXT://{{ dockerHost }}:19092
      SCHEMA_REGISTRY_HOST_NAME: kafka-schema-registry
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
    depends_on:
      - {{ dockerHost }}

  schema-registry-ui:
    restart: unless-stopped
    image: landoop/schema-registry-ui:0.9.4
    hostname: kafka-schema-registry-ui
    ports:
      - "8001:8000"
    environment:
      SCHEMAREGISTRY_URL: http://kafka-schema-registry:8081/
      PROXY: "true"
    depends_on:
      - kafka-schema-registry    