{% if 'zoo' in item.name %}
version: '3.1'

services:
  zoo1:
    image: zookeeper:3.4.14
    restart: always
    # hostname: zoo1.ojejek.com
    ports:
      - 2181:2181
      - 2888:2888
      - 3888:3888
    environment:
      ZOO_MY_ID: {{ item.myid }} 
      ZOO_SERVERS: {% for d in listDroplets %}{% if 'zoo' in d.name %}server.{{d.myid}}={% if item.name == d.name %}0.0.0.0{% else %}{{ d.ip }}{% endif %}:2888:3888{%if not loop.last %} {% endif %}{% endif %}{% endfor %}

      ZOO_LOG4J_PROP: INFO,ROLLINGFILE
    volumes:
      - /mnt/zoodata/data:/data
      - /mnt/zoodata/datalog:/datalog
      - /mnt/zoodata/logs:/logs  
{% endif %}
