credentials:
{% for d in range(100) %}
{% set password = range(10000, 99999) | random | to_uuid %}
 - { id: {{ d }}, password: {{ password }}, password_hash: "{{ password | password_hash('sha256', '1574') }}", user: {{ password[:+6] }} }
{% endfor %}